{
  "presets": ["react"],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-async-to-generator",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-function-bind"
  ]
}
