.section {
  background: #141414;
  padding-top: 40px;
  &:not(:first-of-type) {
    margin-top: -40px;
  }
  h2 {
    color: #999;
    margin: 0;
    line-height: 1.3;
    font-weight: 700;
    font-size: 20px;
    margin: 0 calc(4% + 5px) 10px;
  }
}
.card-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: scroll;
  padding-bottom: 40px;
  padding: 0 4%;
  // overflow touch crap
}
.card {
  margin: 5px;
  display: inline-block;
  img {
    max-width: 150px;
  }
}
